:root {
    --container-main-color: rgba(0, 0, 0, 0.874);
    --container-color: rgba(128, 128, 128, 0.091);
    --color-main: linear-gradient(45deg, #f3f8fa, #5cbef7);
}

.container-contact {
    width: 100%;
    height: auto;
    display: flex;
    background-color: var(--container-color);
    flex-direction: column;
}

.contact-title > h1 {
    width: 90%;
    font-size: 50px;
    height: auto;
    background: linear-gradient(90deg,
        #d4e2ea,
        #5cbef7,
        #168acd,
        rgb(85, 159, 220));
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 30px auto;
    margin-bottom: 10px;
}

.contact-content {
    width: 90%;
    height: auto;
    margin: 10px auto;
    color: white;
}

.contact-content > p {
    text-align: justify;
    /* Căn đều chữ */
    line-height: 1.6;
    /* Tăng khoảng cách dòng giúp dễ đọc */
}

.contact-social {
    width: 90%;
    height: auto;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
}

.contact-social > a {
    margin-right: 20px; 
}


.contact-social a {
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.contact-social a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}

.contact-social a:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.contact-social a img:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
